<%- contentFor("content")%>

<div class="container">
    <div class="col-md-12 mb-5">
        <h1 class="h2 mb-3 fw-normal text-center">Ficha do Personagem</h1>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="col-md-12">
                <a href="/personagem/informacoes" class="btn btn-info float-right btn-sm" data-fancybox data-type="iframe"><i class="fa-solid fa-pencil"></i> Editar</a>
                <h1 class="h2 mb-3 fw-normal text-center">Informações</h1>
            </div>

            <div class="row mb-5">
                <div class="col-md-4">
                    <img src="/static/imagens/persongem.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <table class="table table-bordered text-center">
                        <tbody>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">JOGADOR</th>
                            <td>Dagoberto Diogo</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">PERSONAGEM</th>
                            <td>Kleiton</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">RAÇA</th>
                            <td>Humano</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">CLASSE</th>
                            <td>Ladrão</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">GENERO</th>
                            <td>Masculino</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">DATA CRIAÇÃO</th>
                            <td>28/05/2022</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">NIVEL</th>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">EXPERIÊNCIA</th>
                            <td>128</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="col-md-6">
            <div class="col-md-12">
                <a href="/personagem/caracteristicas-basicas" class="btn btn-info float-right btn-sm" data-fancybox data-type="iframe"><i class="fa-solid fa-pencil"></i> Editar</a>
                <h1 class="h2 mb-3 fw-normal text-center">Características Basícas</h1>
            </div>
            <table class="table table-bordered text-center">
                <tbody>
                <tr>
                    <th class="table-secondary text-dark" scope="row">IDADE</th>
                    <td>32</td>
                </tr>
                <tr>
                    <th class="table-secondary text-dark" scope="row">PESO</th>
                    <td>71,06</td>
                </tr>
                <tr>
                    <th class="table-secondary text-dark" scope="row">ALTURA</th>
                    <td>1,79</td>
                </tr>
                <tr>
                    <th class="table-secondary text-dark" scope="row">HISTÓRIA</th>
                    <td>Querendo roubar, <br> foi preso e <br> busca vingança</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <a href="/personagem/idiomas" class="btn btn-info float-right btn-sm" data-fancybox data-type="iframe"><i class="fa-solid fa-pencil"></i> Editar</a>
                    <h1 class="h2 mb-3 fw-normal text-center">Idiomas</h1>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered text-center">
                        <tbody>
                        <tr>
                            <td>Nativo/Comum</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="/personagem/dinheiro-bens" class="btn btn-info float-right btn-sm" data-fancybox data-type="iframe"><i class="fa-solid fa-pencil"></i> Editar</a>
                    <h1 class="h2 mb-3 fw-normal text-center">Dinheiro e Bens</h1>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">OURO</th>
                            <th class="table-secondary text-dark" scope="row">PRATA</th>
                            <th class="table-secondary text-dark" scope="row">BRONZE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>12.184</td>
                            <td>24.524</td>
                            <td>53.862</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" colspan="3">Bens</th>
                        </tr>
                        <tr>
                            <td colspan="3">Fazenda com 7 gados</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row mt-5">
        <div class="col-md-12">
            <div class="col-md-12">
                <a href="/personagem/atributos" class="btn btn-info float-right btn-sm" data-fancybox data-type="iframe"><i class="fa-solid fa-pencil"></i> Editar</a>
                <h1 class="h2 mb-3 fw-normal text-center">Atributos</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered text-center">
                        <tbody>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">FORÇA</th>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">DESTREZA</th>
                            <td>15</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">CONSTITUIÇÃO</th>
                            <td>9</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">INTELIGENCIA</th>
                            <td>18</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered text-center">
                        <tbody>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">SABEDORIA</th>
                            <td>17</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">CARISMA</th>
                            <td>3</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">PODER</th>
                            <td>4</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">SORTE</th>
                            <td>20</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <a href="/personagem/sub-atributos" class="btn btn-info float-right btn-sm" data-fancybox data-type="iframe"><i class="fa-solid fa-pencil"></i> Editar</a>
                    <h1 class="h2 mb-3 fw-normal text-center">Sub Atributos</h1>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered text-center">
                        <tbody>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">PONTOS DE VIDA</th>
                            <td>98</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">BÔNUS ATAQUE</th>
                            <td>52</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">BÔNUS PROTEÇÃO</th>
                            <td>48</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">DEFESA</th>
                            <td>30</td>
                        </tr>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">AGILIDADE</th>
                            <td>40</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <a href="/personagem/armas" class="btn btn-info float-right btn-sm" data-fancybox data-type="iframe"><i class="fa-solid fa-pencil"></i> Editar</a>
                    <h1 class="h2 mb-3 fw-normal text-center">Armas</h1>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">NOME</th>
                            <th class="table-secondary text-dark" scope="row">ATAQUE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Lança</td>
                            <td>Perfuração</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <a href="/personagem/armaduras" class="btn btn-info float-right btn-sm" data-fancybox data-type="iframe">
                        <i class="fa-solid fa-pencil"></i>
                        Editar
                    </a>
                    <h1 class="h2 mb-3 fw-normal text-center">Armaduras</h1>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">NOME</th>
                            <th class="table-secondary text-dark" scope="row">DEFESA</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Capacete</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <a href="/personagem/ornamentos" class="btn btn-info float-right btn-sm" data-fancybox data-type="iframe">
                        <i class="fa-solid fa-pencil"></i>
                        Editar
                    </a>
                    <h1 class="h2 mb-3 fw-normal text-center">Ornamentos</h1>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th class="table-secondary text-dark" scope="row">NOME</th>
                            <th class="table-secondary text-dark" scope="row">DEFESA</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Bracelete</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">

    <div class="row mt-5">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/personagem/pericias" class="btn btn-info float-right btn-sm" data-fancybox data-type="iframe"><i class="fa-solid fa-pencil"></i> Editar</a>
                            <h1 class="h2 mb-3 fw-normal text-center">Pericia</h1>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered text-center">
                                <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/personagem/itens-gerais" class="btn btn-info float-right btn-sm" data-fancybox data-type="iframe"><i class="fa-solid fa-pencil"></i> Editar</a>
                            <h1 class="h2 mb-3 fw-normal text-center">Itens Gerais</h1>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered text-center">
                                <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <a href="/personagem/magias" class="btn btn-info float-right btn-sm" data-fancybox data-type="iframe"><i class="fa-solid fa-pencil"></i> Editar</a>
                <h1 class="h2 mb-3 fw-normal text-center">Magias</h1>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered text-center">
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>