<%- contentFor("content")%>

<div class="container mt-5">
    <div class="col-md-12">
        <h1 class="h2 mb-4 fw-normal text-center">Campanhas</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th class="table-secondary text-dark">
                        Campanha
                    </th>
                    <th class="table-secondary text-dark">
                        Mestre
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a href="http://">A espada flamejante</a>
                    </td>
                    <td>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>