<%- contentFor("content")%>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h1 class="h2 mb-3 fw-normal text-center">Armaduras</h1>
                </div>
                <div class="col-md-12">
                    <form action="">
                        <table class="table table-bordered table-responsive-sm text-center">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="form-check form-check-inline px-5">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                    </div>
                                </td>
                                <td>
                                    <img src="/static/imagens/armaduras/capacete.jpg" alt="">
                                </td>
                                <td>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Capacete
                                    </label>
                                    <button type="button" class="btn btn-dark float-right">?</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                    </div>
                                </td>
                                <td>
                                    <img src="/static/imagens/armaduras/peitoral.jpg" alt="">
                                </td>
                                <td class="col-md-6">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Peitoral
                                    </label>
                                    <button type="button" class="btn btn-dark float-right">?</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-12">
                    <h1 class="h2 mb-3 fw-normal text-center">Armas</h1>
                </div>
                <div class="col-md-12">
                    <form action="">
                        <table class="table table-bordered text-center">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="form-check form-check-inline px-5">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">

                                    </div>
                                </td>
                                <td>
                                    <img src="/static/imagens/armas/espada.jpg" alt="">
                                </td>
                                <td class="col-md-6">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Espada
                                    </label>
                                    <button type="button" class="btn btn-dark float-right">?</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check form-check-inline px-5">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                    </div>
                                </td>
                                <td>
                                    <img src="/static/imagens/armas/cajado.jpg" alt="">
                                </td>
                                <td>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Cajado
                                    </label>
                                    <button type="button" class="btn btn-dark float-right">?</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</div>