<%- contentFor("estilo") %>

<%- contentFor("content") %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="d-block">
                                <div class="col-md-12">
                                    <h1 class="h2 mb-3 fw-normal text-center">Idiomas</h1>
                                </div>
                            </label>
                            <div class="form-check form-check-inline">

                                <% for(const idioma of idiomas.data) { %>
                                    <input class="form-check-input" type="checkbox" name="exampleRadios"
                                           id="exampleRadios1"
                                           value="option1">
                                    <label value="<%= idioma.id %>" class="form-check-label mr-3"
                                           for="exampleRadios1"><%= idioma.attributes.nome %></label>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>