<%- contentFor("estilo")%>

<%- contentFor("content")%>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="h2 mb-5 fw-normal text-center">Sub Atributos</h1>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Pontos de Vida</label>
                            <input type="number" min="0" step="1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Bonus Ataque</label>
                            <input type="number" min="0" step="1" class="form-control" id="exampleInputPassword1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Bonus Proteção</label>
                            <input type="number" min="0" step="1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Agilidade</label>
                            <input type="number" min="0" step="1" class="form-control" id="exampleInputPassword1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Defesa</label>
                            <input type="number" min="0" step="1" class="form-control" id="exampleInputPassword1">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</div>