<%- contentFor("estilo")%>
<link rel="stylesheet" href="/static/css/signin.css">

<%- contentFor("content")%>

<form action="/login" method="post" class="form-signin text-center">

    <h1 class="h3 mb-3 font-weight-normal">Entrar</h1>
    <label for="inputEmail" class="sr-only">E-mail</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Insira seu E-mail" autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" name="senha" id="inputPassword" class="form-control mb-3" placeholder="Insira sua Senha" >

    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <p>Não tem cadastro? <a href="/cadastro">Clique aqui!</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2022</p>
</form>