<%- contentFor("content")%>

<div class="container">
    <h1 class="text-center mb-5"> Cadastro </h1>
    <div class="row">
        <div class="col-md-12">
            <form>

                <fieldset class="mt-3">
                    <legend class="text-center">Moedas</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/cadastro-personagem" class="btn btn-success float-right btn-sm"><i class="fa-solid fa-dice"></i> Gerar</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <label for="exampleInputEmail1">Ouro</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-4">
                            <label for="exampleInputEmail1">Prata</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-4">
                            <label for="exampleInputEmail1">Bronze</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="mt-3">
                    <legend class="text-center">Atributos</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/cadastro-personagem" class="btn btn-success float-right btn-sm"><i class="fa-solid fa-dice"></i> Gerar</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <label for="exampleInputEmail1">Valor</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-8">
                            <label for="exampleInputPassword1">Atributo</label>
                            <select name="" id="" class="form-control" style="cursor: pointer">
                                <option value="">Selecione</option>
                                <option value="">Força</option>
                                <option value="">Destreza</option>
                                <option value="">Constituição</option>
                                <option value="">inteligencia</option>
                                <option value="">Sabedoria</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-8">
                            <select name="" id="" class="form-control" style="cursor: pointer">
                                <option value="">Selecione</option>
                                <option value="">Força</option>
                                <option value="">Destreza</option>
                                <option value="">Constituição</option>
                                <option value="">inteligencia</option>
                                <option value="">Sabedoria</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-8">
                            <select name="" id="" class="form-control" style="cursor: pointer">
                                <option value="">Selecione</option>
                                <option value="">Força</option>
                                <option value="">Destreza</option>
                                <option value="">Constituição</option>
                                <option value="">inteligencia</option>
                                <option value="">Sabedoria</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-8">
                            <select name="" id="" class="form-control" style="cursor: pointer">
                                <option value="">Selecione</option>
                                <option value="">Força</option>
                                <option value="">Destreza</option>
                                <option value="">Constituição</option>
                                <option value="">inteligencia</option>
                                <option value="">Sabedoria</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-8">
                            <select name="" id="" class="form-control" style="cursor: pointer">
                                <option value="">Selecione</option>
                                <option value="">Força</option>
                                <option value="">Destreza</option>
                                <option value="">Constituição</option>
                                <option value="">inteligencia</option>
                                <option value="">Sabedoria</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-8">
                            <select name="" id="" class="form-control" style="cursor: pointer">
                                <option value="">Selecione</option>
                                <option value="">Força</option>
                                <option value="">Destreza</option>
                                <option value="">Constituição</option>
                                <option value="">inteligencia</option>
                                <option value="">Sabedoria</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-8">
                            <select name="" id="" class="form-control" style="cursor: pointer">
                                <option value="">Selecione</option>
                                <option value="">Força</option>
                                <option value="">Destreza</option>
                                <option value="">Constituição</option>
                                <option value="">inteligencia</option>
                                <option value="">Sabedoria</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-8">
                            <select name="" id="" class="form-control" style="cursor: pointer">
                                <option value="">Selecione</option>
                                <option value="">Força</option>
                                <option value="">Destreza</option>
                                <option value="">Constituição</option>
                                <option value="">inteligencia</option>
                                <option value="">Sabedoria</option>
                            </select>
                        </div>
                    </div>
                </fieldset>





                <button type="submit" class="btn btn-primary mt-5">Salvar</button>
            </form>
        </div>
    </div>
</div>