<%- contentFor("content")%>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1 class="h2 mb-4 fw-normal ">Personagens</h1>
        </div>
        <div class="col-md-2">
            <a href="/cadastro-personagem" class="btn btn-success float-right btn-sm mt-3"><i class="fa-solid fa-plus"></i> Cadastrar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th class="table-secondary text-dark">
                        <img src="" alt="">
                    </th>
                    <th class="table-secondary text-dark">
                        Nome
                    </th>
                    <th class="table-secondary text-dark">
                        Raça
                    </th>
                    <th class="table-secondary text-dark">
                        Classe
                    </th>
                    <th class="table-secondary text-dark">
                        Nivel
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>

                    </td>
                    <td>
                        <a href="http://">Keiton</a>
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>